

#ve220 .span6 {
  font-weight: bold;
}
#ve220 .span7 {
  font-weight: bold;
}
#ve220 .span8 {
  font-weight: bold;
}
#ve220 .span9 {
  font-weight: bold;
}
#ve220 .paragraph10 {
  text-align: left;
}
#ve140 .paragraph1 {
  text-align: center;
}
#ve119 .span1 {
  font-weight: bold;
  font-size: 18pt;
}
#ve119 .span2 {
  font-weight: bold;
  font-size: 18pt;
}
#ve119 .span3 {
  font-weight: bold;
  font-size: 18pt;
}
#ve119 .span4 {
  font-weight: bold;
  font-size: 18pt;
}
#ve129 .span1 {
  font-weight: bold;
}
#ve119 .span5 {
  font-weight: bold;
  font-size: 18pt;
}
#ve170 .paragraph7 {
  text-align: left;
}
#ve170 .paragraph6 {
  text-align: left;
}
#ve170 .paragraph5 {
  text-align: left;
}
#ve170 .paragraph4 {
  text-align: left;
}
#ve170 .paragraph3 {
  text-align: left;
}
#ve140 .span1 {
  font-weight: bold;
}
#ve170 .paragraph2 {
  text-align: left;
}
#ve170 .paragraph1 {
  text-align: left;
}
#ve220 .paragraph8 {
  text-align: left;
}
#ve129 .paragraph1 {
  text-align: center;
}
#ve220 .paragraph9 {
  text-align: left;
}
#ve110 .paragraph1 {
  text-align: center;
}
#ve220 .paragraph6 {
  text-align: left;
}
#ve220 .paragraph7 {
  text-align: left;
}
#ve220 .paragraph4 {
  text-align: left;
}
#ve110 .span1 {
  font-weight: bold;
}
#ve220 .paragraph5 {
  text-align: left;
}
#ve220 .paragraph2 {
  text-align: left;
}
#ve220 .paragraph3 {
  text-align: left;
}
#ve170 .Container {
  background-color: #FFFFFF;
  transparency: 0.4;
}
#ve220 .paragraph1 {
  text-align: left;
}
#ve170 .span1 {
  font-weight: bold;
}
#ve170 .span2 {
  font-weight: bold;
}
#ve170 .span3 {
  font-weight: bold;
}
#ve119 .Container {
  background-color: #FFFFFF;
  transparency: 0;
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve220 .span2 {
  font-weight: bold;
}
#ve220 .span3 {
  font-weight: bold;
}
#ve220 .span4 {
  font-weight: bold;
}
#ve220 .span5 {
  font-weight: bold;
  font-size: 14pt;
}
#ve134 .paragraph1 {
  text-align: center;
}
#ve220 .span1 {
  font-weight: bold;
  font-size: 14pt;
}

			