

#ve1778 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve1778 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve1924 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve2602 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2602 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve2712 .paragraph1 {
  text-align: center;
}
#ve2712 .paragraph2 {
  text-align: center;
}
#ve2316 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2434 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve2316 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2316 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2316 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve2131 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2830 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve2830 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve2830 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve1224 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve2720 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2720 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2282 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2720 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve2720 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2446 .span11 {
  font-weight: bold;
}
#ve2446 .span12 {
  font-weight: bold;
}
#ve2446 .span10 {
  font-weight: bold;
}
#ve1931 .ReportElementContainer {
  padding: 16px;
}
#ve169 .styleForTitle_span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve2446 .span19 {
  font-weight: bold;
}
#ve169 .styleForTitle_span3 {
  font-size: 10pt;
}
#ve169 .styleForTitle_span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve2446 .span17 {
  font-weight: bold;
}
#ve2054 .span10 {
  font-weight: bold;
}
#ve169 .styleForTitle_span1 {
  font-weight: bold;
}
#ve2038 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2446 .span18 {
  font-weight: bold;
}
#ve2054 .span11 {
  font-weight: bold;
}
#ve2446 .span15 {
  font-weight: bold;
}
#ve2960 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2446 .span16 {
  font-weight: bold;
}
#ve2446 .span13 {
  font-weight: bold;
}
#ve169 .styleForTitle_span5 {
  font-size: 10pt;
}
#ve2446 .span14 {
  font-weight: bold;
}
#ve2054 .span16 {
  font-weight: bold;
}
#ve2054 .span17 {
  font-weight: bold;
}
#ve2054 .span18 {
  font-weight: bold;
}
#ve2054 .span19 {
  font-weight: bold;
}
#ve2054 .span12 {
  font-weight: bold;
}
#ve1817 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2054 .span13 {
  font-weight: bold;
}
#ve2054 .span14 {
  font-weight: bold;
}
#ve2054 .span15 {
  font-weight: bold;
}
#ve2610 .paragraph1 {
  text-align: center;
}
#ve2610 .paragraph2 {
  text-align: center;
}
#ve2446 .span20 {
  font-weight: bold;
}
#ve2169 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2220 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve2220 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve2220 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve2695 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2695 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve2929 .paragraph2 {
  text-align: center;
}
#ve2093 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2929 .paragraph1 {
  text-align: center;
}
#ve2659 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2502 .paragraph2 {
  text-align: center;
}
#ve2502 .paragraph1 {
  text-align: center;
}
#ve2093 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve2937 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2937 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2937 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2937 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve2224 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve161 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2788 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve2788 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2022 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve2659 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2659 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve221 .Container {
  border-width: 1px;
  border-color: #33A3FF;
}
#ve370 .paragraph2 {
  text-align: center;
}
#ve3139 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve1803 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve370 .paragraph1 {
  text-align: center;
}
#ve2675 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2664 .span17 {
  font-weight: bold;
}
#ve2664 .span18 {
  font-weight: bold;
}
#ve2664 .span15 {
  font-weight: bold;
}
#ve2912 .paragraph2 {
  text-align: center;
}
#ve2664 .span16 {
  font-weight: bold;
}
#ve2627 .paragraph2 {
  text-align: center;
}
#ve2912 .paragraph1 {
  text-align: center;
}
#ve2627 .paragraph1 {
  text-align: center;
}
#ve2085 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve2664 .span19 {
  font-weight: bold;
}
#ve2085 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2664 .span10 {
  font-weight: bold;
}
#ve2610 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve2610 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2664 .span13 {
  font-weight: bold;
}
#ve2664 .span14 {
  font-weight: bold;
}
#ve2664 .span11 {
  font-weight: bold;
}
#ve2664 .span12 {
  font-weight: bold;
}
#ve1213 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve3161 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve2937 .paragraph2 {
  text-align: center;
}
#ve2937 .paragraph1 {
  text-align: center;
}
#ve2632 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve2049 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2664 .span20 {
  font-weight: bold;
}
#ve3134 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2664 .span21 {
  font-weight: bold;
}
#ve3134 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve378 .paragraph2 {
  text-align: center;
}
#ve2049 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve3109 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve3134 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2049 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve3109 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve3134 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2571 .span20 {
  font-weight: bold;
}
#ve378 .paragraph1 {
  text-align: center;
}
#ve2571 .span22 {
  font-weight: bold;
}
#ve2664 .span22 {
  font-weight: bold;
}
#ve2527 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve2571 .span21 {
  font-weight: bold;
}
#ve1803 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve1803 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve1803 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2602 .paragraph2 {
  text-align: center;
}
#ve2602 .paragraph1 {
  text-align: center;
}
#ve2000 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve2000 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2571 .span11 {
  font-weight: bold;
}
#ve2571 .span10 {
  font-weight: bold;
}
#ve2571 .span13 {
  font-weight: bold;
}
#ve2571 .span12 {
  font-weight: bold;
}
#ve1813 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2409 .paragraph2 {
  text-align: center;
}
#ve2571 .span15 {
  font-weight: bold;
}
#ve2409 .paragraph1 {
  text-align: center;
}
#ve2571 .span14 {
  font-weight: bold;
}
#ve2571 .span17 {
  font-weight: bold;
}
#ve2571 .span16 {
  font-weight: bold;
}
#ve2571 .span19 {
  font-weight: bold;
}
#ve2571 .span18 {
  font-weight: bold;
}
#ve1856 .span10 {
  font-weight: bold;
}
#ve1856 .span12 {
  font-weight: bold;
}
#ve1856 .span11 {
  font-weight: bold;
}
#ve1856 .span14 {
  font-weight: bold;
}
#ve1856 .span13 {
  font-weight: bold;
}
#ve1856 .span16 {
  font-weight: bold;
}
#ve1856 .span15 {
  font-weight: bold;
}
#ve1856 .span18 {
  font-weight: bold;
}
#ve1856 .span17 {
  font-weight: bold;
}
#ve2834 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve3126 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve490 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2725 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve2401 .paragraph2 {
  text-align: center;
}
#ve2401 .paragraph1 {
  text-align: center;
}
#ve3126 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve3126 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve3126 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve1217 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve2912 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve2428 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2521 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2333 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve1082 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2333 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve408 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve408 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve2044 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve2912 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve177 .styleForTitle_span1 {
  font-weight: bold;
}
#ve177 .styleForTitle_span3 {
  font-size: 10pt;
}
#ve177 .styleForTitle_span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve177 .styleForTitle_span5 {
  font-size: 10pt;
}
#ve2333 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve177 .styleForTitle_span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve2384 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2409 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2384 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve2409 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve2409 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2409 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve408 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve2110 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2110 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2110 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2110 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve2619 .paragraph1 {
  text-align: center;
}
#ve2115 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve1181 .paragraph2 {
  text-align: center;
}
#ve2619 .paragraph2 {
  text-align: center;
}
#ve1181 .paragraph1 {
  text-align: center;
}
#ve3134 .paragraph2 {
  text-align: center;
}
#ve3134 .paragraph1 {
  text-align: center;
}
#ve2017 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve2017 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2017 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2017 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2316 .paragraph2 {
  text-align: center;
}
#ve2316 .paragraph1 {
  text-align: center;
}
#ve2341 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve2468 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2203 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2743 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2203 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2220 .ReportElementContainer {
  padding: 16px;
}
#ve2203 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve1165 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve2203 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve2805 .paragraph2 {
  text-align: center;
}
#ve2805 .paragraph1 {
  text-align: center;
}
#ve1786 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve370 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve2519 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve2519 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve1786 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve2291 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve2519 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve1795 .paragraph1 {
  text-align: center;
}
#ve2426 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve2426 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve2813 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve1795 .paragraph2 {
  text-align: center;
}
#ve2426 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve153 .styleForTitle_span5 {
  font-size: 10pt;
}
#ve153 .styleForTitle_span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve2291 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve219 .styleForTitle_span2 {
  font-size: 10pt;
}
#ve219 .styleForTitle_span1 {
  font-weight: bold;
}
#ve494 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve153 .styleForTitle_span3 {
  font-size: 10pt;
}
#ve153 .styleForTitle_span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve153 .styleForTitle_span1 {
  font-weight: bold;
}
#ve2813 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2840 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve2813 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve3073 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2813 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve3073 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve3073 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2135 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve2747 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve370 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2392 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2392 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve1786 .paragraph2 {
  text-align: center;
}
#ve2230 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve2920 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2920 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve1786 .paragraph1 {
  text-align: center;
}
#ve1778 .paragraph2 {
  text-align: center;
}
#ve1778 .paragraph1 {
  text-align: center;
}
#ve2042 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve2203 .paragraph1 {
  text-align: center;
}
#ve2203 .paragraph2 {
  text-align: center;
}
#ve2127 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve2127 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve2127 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve2627 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2627 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2593 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2627 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2627 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve2695 .paragraph2 {
  text-align: center;
}
#ve145 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve2102 .paragraph1 {
  text-align: center;
}
#ve2102 .paragraph2 {
  text-align: center;
}
#ve2695 .paragraph1 {
  text-align: center;
}
#ve3078 .span11 {
  font-weight: bold;
}
#ve3078 .span12 {
  font-weight: bold;
}
#ve1992 .paragraph2 {
  text-align: center;
}
#ve185 .styleForTitle_span1 {
  font-weight: bold;
}
#ve1992 .paragraph1 {
  text-align: center;
}
#ve185 .styleForTitle_span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve3078 .span10 {
  font-weight: bold;
}
#ve2752 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2525 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2752 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2752 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2430 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2881 .span11 {
  font-weight: bold;
}
#ve2881 .span10 {
  font-weight: bold;
}
#ve2881 .span13 {
  font-weight: bold;
}
#ve2881 .span12 {
  font-weight: bold;
}
#ve2881 .span15 {
  font-weight: bold;
}
#ve2881 .span14 {
  font-weight: bold;
}
#ve2881 .span17 {
  font-weight: bold;
}
#ve2881 .span16 {
  font-weight: bold;
}
#ve1811 .ReportElementContainer {
  padding: 16px;
}
#ve177 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve185 .styleForTitle_span3 {
  font-size: 10pt;
}
#ve2881 .span19 {
  font-weight: bold;
}
#ve185 .styleForTitle_span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve2881 .span18 {
  font-weight: bold;
}
#ve185 .styleForTitle_span5 {
  font-size: 10pt;
}
#ve2956 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve1956 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve145 .styleForTitle_span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve145 .styleForTitle_span1 {
  font-weight: bold;
}
#ve145 .styleForTitle_span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve145 .styleForTitle_span3 {
  font-size: 10pt;
}
#ve145 .styleForTitle_span5 {
  font-size: 10pt;
}
#ve1992 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve1992 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve2017 .paragraph2 {
  text-align: center;
}
#ve2017 .paragraph1 {
  text-align: center;
}
#ve2788 .paragraph2 {
  text-align: center;
}
#ve2788 .paragraph1 {
  text-align: center;
}
#ve2477 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve3126 .paragraph2 {
  text-align: center;
}
#ve2477 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve3126 .paragraph1 {
  text-align: center;
}
#ve2337 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2796 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve2796 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2027 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve1972 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2512 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve1956 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve1821 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve1956 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve3109 .paragraph2 {
  text-align: center;
}
#ve3109 .paragraph1 {
  text-align: center;
}
#ve362 .span12 {
  font-weight: bold;
}
#ve362 .span13 {
  font-weight: bold;
}
#ve362 .span10 {
  font-weight: bold;
}
#ve362 .span11 {
  font-weight: bold;
}
#ve906 .span1 {
  font-weight: bold;
}
#ve362 .span16 {
  font-weight: bold;
}
#ve2260 .span3 {
  font-style: italic;
}
#ve362 .span17 {
  font-weight: bold;
}
#ve2260 .span2 {
  font-style: italic;
}
#ve362 .span14 {
  font-weight: bold;
}
#ve2260 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve362 .span15 {
  font-weight: bold;
}
#ve1172 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve2730 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve362 .span18 {
  font-weight: bold;
}
#ve362 .span19 {
  font-weight: bold;
}
#ve2260 .span9 {
  font-weight: bold;
}
#ve2260 .span8 {
  font-weight: bold;
}
#ve2260 .span7 {
  font-weight: bold;
}
#ve2260 .span6 {
  font-weight: bold;
}
#ve2260 .span5 {
  font-weight: bold;
}
#ve2745 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve2260 .span4 {
  font-weight: bold;
}
#ve2650 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2485 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve2494 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve362 .span20 {
  font-weight: bold;
}
#ve2485 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2494 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve2494 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2531 .Container {
  border-width: 1px;
  border-color: #2470AD;
}
#ve2494 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2353 .span18 {
  font-weight: bold;
}
#ve2353 .span19 {
  font-weight: bold;
}
#ve2353 .span16 {
  font-weight: bold;
}
#ve2353 .span17 {
  font-weight: bold;
}
#ve2353 .span14 {
  font-weight: bold;
}
#ve2353 .span15 {
  font-weight: bold;
}
#ve2353 .span12 {
  font-weight: bold;
}
#ve2353 .span13 {
  font-weight: bold;
}
#ve2353 .span10 {
  font-weight: bold;
}
#ve2353 .span11 {
  font-weight: bold;
}
#ve219 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve1914 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve1914 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve1914 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2457 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve1914 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2446 .span6 {
  font-weight: bold;
}
#ve2446 .span7 {
  font-weight: bold;
}
#ve2446 .span8 {
  font-weight: bold;
}
#ve2446 .span9 {
  font-weight: bold;
}
#ve2353 .span20 {
  font-weight: bold;
}
#ve2446 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2446 .span2 {
  font-style: italic;
}
#ve2446 .span3 {
  font-style: italic;
}
#ve2308 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2446 .span4 {
  font-weight: bold;
}
#ve2308 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2446 .span5 {
  font-weight: bold;
}
#ve2308 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2308 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve2942 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve3443 .Container {
  border-width: 1px;
  border-color: #2470AD;
}
#ve1747 .span15 {
  font-weight: bold;
}
#ve1747 .span14 {
  font-weight: bold;
}
#ve1747 .span13 {
  font-weight: bold;
}
#ve1747 .span12 {
  font-weight: bold;
}
#ve1747 .span11 {
  font-weight: bold;
}
#ve1747 .span10 {
  font-weight: bold;
}
#ve1747 .span16 {
  font-weight: bold;
}
#ve362 .span6 {
  font-weight: bold;
}
#ve362 .span5 {
  font-weight: bold;
}
#ve362 .span8 {
  font-weight: bold;
}
#ve362 .span7 {
  font-weight: bold;
}
#ve362 .span9 {
  font-weight: bold;
}
#ve2147 .span19 {
  font-weight: bold;
}
#ve2036 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2147 .span15 {
  font-weight: bold;
}
#ve2000 .paragraph1 {
  text-align: center;
}
#ve2147 .span16 {
  font-weight: bold;
}
#ve2000 .paragraph2 {
  text-align: center;
}
#ve2147 .span17 {
  font-weight: bold;
}
#ve2147 .span18 {
  font-weight: bold;
}
#ve2147 .span11 {
  font-weight: bold;
}
#ve2147 .span12 {
  font-weight: bold;
}
#ve2147 .span13 {
  font-weight: bold;
}
#ve2147 .span14 {
  font-weight: bold;
}
#ve2147 .span10 {
  font-weight: bold;
}
#ve193 .styleForTitle_span6 {
  font-size: 12pt;
}
#ve1937 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2619 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve193 .styleForTitle_span7 {
  font-weight: bold;
  font-size: 12pt;
}
#ve193 .styleForTitle_span4 {
  font-size: 12pt;
}
#ve193 .styleForTitle_span5 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2619 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve193 .styleForTitle_span2 {
  font-size: 12pt;
}
#ve2830 .ReportElementContainer {
  padding: 16px;
}
#ve193 .styleForTitle_span3 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2619 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2619 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve193 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve3159 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve402 .styleForTitle_span1 {
  color: #2470AD;
  font-weight: bold;
  font-size: 14pt;
}
#ve2076 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2768 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve137 .styleForTitle_span5 {
  font-size: 10pt;
}
#ve2147 .span22 {
  font-weight: bold;
}
#ve137 .styleForTitle_span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve137 .styleForTitle_span3 {
  font-size: 10pt;
}
#ve1815 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve137 .styleForTitle_span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve2664 .span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve2664 .span3 {
  font-size: 10pt;
}
#ve2147 .span20 {
  font-weight: bold;
}
#ve2664 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2147 .span21 {
  font-weight: bold;
}
#ve2664 .span6 {
  font-weight: bold;
}
#ve2664 .span7 {
  font-weight: bold;
}
#ve2664 .span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve211 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve2664 .span5 {
  font-size: 10pt;
}
#ve137 .styleForTitle_span1 {
  font-weight: bold;
}
#ve362 .span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve362 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve362 .span4 {
  font-weight: bold;
}
#ve2664 .span8 {
  font-weight: bold;
}
#ve362 .span3 {
  font-size: 10pt;
}
#ve2664 .span9 {
  font-weight: bold;
}
#ve2102 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2102 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2571 .span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve2571 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2571 .span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve2571 .span3 {
  font-size: 10pt;
}
#ve2571 .span6 {
  font-weight: bold;
}
#ve2571 .span5 {
  font-size: 10pt;
}
#ve2876 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve1919 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve2102 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2876 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2102 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve2876 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2343 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve2947 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve2571 .span8 {
  font-weight: bold;
}
#ve2571 .span7 {
  font-weight: bold;
}
#ve2571 .span9 {
  font-weight: bold;
}
#ve2353 .span9 {
  font-weight: bold;
}
#ve2137 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve2110 .paragraph1 {
  text-align: center;
}
#ve2110 .paragraph2 {
  text-align: center;
}
#ve378 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve378 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve378 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve2353 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2353 .span2 {
  font-style: italic;
}
#ve378 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2353 .span3 {
  font-style: italic;
}
#ve2353 .span4 {
  font-weight: bold;
}
#ve2353 .span5 {
  font-weight: bold;
}
#ve2353 .span6 {
  font-weight: bold;
}
#ve2353 .span7 {
  font-weight: bold;
}
#ve2353 .span8 {
  font-weight: bold;
}
#ve1961 .span3 {
  font-size: 10pt;
}
#ve1961 .span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve1961 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve1961 .span20 {
  font-weight: bold;
}
#ve1961 .span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve1961 .span22 {
  font-weight: bold;
}
#ve1961 .span21 {
  font-weight: bold;
}
#ve2291 .paragraph1 {
  text-align: center;
}
#ve2299 .paragraph1 {
  text-align: center;
}
#ve1961 .span9 {
  font-weight: bold;
}
#ve1961 .span7 {
  font-weight: bold;
}
#ve2507 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve1961 .span8 {
  font-weight: bold;
}
#ve1961 .span5 {
  font-size: 10pt;
}
#ve2291 .paragraph2 {
  text-align: center;
}
#ve2299 .paragraph2 {
  text-align: center;
}
#ve1961 .span6 {
  font-weight: bold;
}
#ve2333 .ReportElementContainer {
  padding: 16px;
}
#ve113 .styleForTitle_span1 {
  font-weight: bold;
}
#ve113 .styleForTitle_span3 {
  font-size: 10pt;
}
#ve113 .styleForTitle_span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve113 .styleForTitle_span5 {
  font-size: 10pt;
}
#ve113 .styleForTitle_span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve2419 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve2823 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve1931 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve1931 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve1931 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve1935 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2441 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2954 .ReportElementContainer {
  padding: 16px;
}
#ve2441 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2441 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2186 .paragraph1 {
  text-align: center;
}
#ve2186 .paragraph2 {
  text-align: center;
}
#ve2213 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve2426 .ReportElementContainer {
  padding: 16px;
}
#ve2226 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2582 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve1906 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve1906 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve1906 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve1906 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve129 .styleForTitle_span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve129 .styleForTitle_span1 {
  font-weight: bold;
}
#ve129 .styleForTitle_span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve2757 .span9 {
  font-weight: bold;
  font-size: 10pt;
}
#ve129 .styleForTitle_span3 {
  font-size: 10pt;
}
#ve1914 .paragraph2 {
  text-align: center;
}
#ve1914 .paragraph1 {
  text-align: center;
}
#ve1983 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2757 .span3 {
  font-size: 10pt;
}
#ve2757 .span4 {
  font-size: 10pt;
}
#ve2757 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2757 .span2 {
  font-weight: bold;
  font-size: 10pt;
}
#ve2195 .paragraph2 {
  text-align: center;
}
#ve2757 .span7 {
  font-weight: bold;
  font-size: 10pt;
}
#ve2195 .paragraph1 {
  text-align: center;
}
#ve129 .styleForTitle_span5 {
  font-size: 10pt;
}
#ve2757 .span8 {
  font-size: 10pt;
}
#ve2757 .span5 {
  font-size: 10pt;
}
#ve2757 .span6 {
  font-size: 10pt;
}
#ve1803 .paragraph2 {
  text-align: center;
}
#ve1803 .paragraph1 {
  text-align: center;
}
#ve2085 .paragraph1 {
  text-align: center;
}
#ve2085 .paragraph2 {
  text-align: center;
}
#ve352 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve352 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2339 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2120 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve2529 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve2739 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve352 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2644 .ReportElementContainer {
  padding: 16px;
}
#ve2832 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2147 .span9 {
  font-weight: bold;
}
#ve2147 .span8 {
  font-weight: bold;
}
#ve2147 .span5 {
  font-size: 10pt;
}
#ve2147 .span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve2147 .span7 {
  font-weight: bold;
}
#ve2147 .span6 {
  font-weight: bold;
}
#ve2147 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2147 .span3 {
  font-size: 10pt;
}
#ve2147 .span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve1961 .span11 {
  font-weight: bold;
}
#ve1961 .span10 {
  font-weight: bold;
}
#ve1961 .span13 {
  font-weight: bold;
}
#ve1961 .span12 {
  font-weight: bold;
}
#ve2178 .paragraph1 {
  text-align: center;
}
#ve2178 .paragraph2 {
  text-align: center;
}
#ve1880 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve1961 .span15 {
  font-weight: bold;
}
#ve1961 .span14 {
  font-weight: bold;
}
#ve1961 .span17 {
  font-weight: bold;
}
#ve1961 .span16 {
  font-weight: bold;
}
#ve1961 .span19 {
  font-weight: bold;
}
#ve1961 .span18 {
  font-weight: bold;
}
#ve2414 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve153 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve169 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve113 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve2502 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2502 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2519 .ReportElementContainer {
  padding: 16px;
}
#ve2644 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve2644 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve2644 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve2502 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve2502 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve1747 .span4 {
  font-weight: bold;
}
#ve1747 .span3 {
  font-style: italic;
}
#ve1747 .span6 {
  font-weight: bold;
}
#ve1747 .span5 {
  font-weight: bold;
}
#ve2485 .paragraph2 {
  text-align: center;
}
#ve1747 .span8 {
  font-weight: bold;
}
#ve2485 .paragraph1 {
  text-align: center;
}
#ve1747 .span7 {
  font-weight: bold;
}
#ve129 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve1747 .span9 {
  font-weight: bold;
}
#ve2093 .paragraph1 {
  text-align: center;
}
#ve2432 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2093 .paragraph2 {
  text-align: center;
}
#ve2065 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve121 .styleForTitle_span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve121 .styleForTitle_span3 {
  font-size: 10pt;
}
#ve121 .styleForTitle_span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve121 .styleForTitle_span1 {
  font-weight: bold;
}
#ve1747 .span2 {
  font-style: italic;
}
#ve1747 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve1856 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2009 .paragraph2 {
  text-align: center;
}
#ve2009 .paragraph1 {
  text-align: center;
}
#ve121 .styleForTitle_span5 {
  font-size: 10pt;
}
#ve1941 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve2646 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve193 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve2436 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve2962 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve2208 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve1889 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve1856 .span8 {
  font-weight: bold;
}
#ve1856 .span9 {
  font-weight: bold;
}
#ve1856 .span6 {
  font-weight: bold;
}
#ve1856 .span7 {
  font-weight: bold;
}
#ve1856 .span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve1851 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve1856 .span5 {
  font-size: 10pt;
}
#ve1851 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve1856 .span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve1851 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve1856 .span3 {
  font-size: 10pt;
}
#ve2040 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve1758 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve1889 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve3144 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve3157 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2652 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve2232 .Container {
  border-width: 1px;
  border-color: #2470AD;
}
#ve2903 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2779 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve1181 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve1181 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2737 .ReportElementContainer {
  padding: 16px;
}
#ve1939 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve2034 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve2034 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve2034 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve2392 .paragraph1 {
  text-align: center;
}
#ve2737 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve2737 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve2392 .paragraph2 {
  text-align: center;
}
#ve1807 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve3153 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve3089 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2335 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2796 .paragraph2 {
  text-align: center;
}
#ve2796 .paragraph1 {
  text-align: center;
}
#ve2737 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve2260 .span20 {
  font-weight: bold;
}
#ve2271 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2158 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve3100 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2321 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve2954 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve3078 .span7 {
  font-weight: bold;
}
#ve2954 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve3078 .span6 {
  font-weight: bold;
}
#ve3078 .span5 {
  font-weight: bold;
}
#ve2954 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve3078 .span4 {
  font-weight: bold;
}
#ve3078 .span3 {
  font-weight: bold;
}
#ve3078 .span2 {
  font-weight: bold;
}
#ve3078 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2260 .span12 {
  font-weight: bold;
}
#ve2260 .span11 {
  font-weight: bold;
}
#ve2260 .span14 {
  font-weight: bold;
}
#ve2260 .span13 {
  font-weight: bold;
}
#ve2260 .span10 {
  font-weight: bold;
}
#ve3078 .span9 {
  font-weight: bold;
}
#ve3078 .span8 {
  font-weight: bold;
}
#ve2260 .span19 {
  font-weight: bold;
}
#ve2523 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2260 .span16 {
  font-weight: bold;
}
#ve2260 .span15 {
  font-weight: bold;
}
#ve1897 .paragraph2 {
  text-align: center;
}
#ve2260 .span18 {
  font-weight: bold;
}
#ve1897 .paragraph1 {
  text-align: center;
}
#ve2260 .span17 {
  font-weight: bold;
}
#ve2703 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve916 .span1 {
  text-decoration: underline;
  font-size: 20pt;
}
#ve916 .span2 {
  text-decoration: underline;
}
#ve916 .span3 {
  text-decoration: underline;
}
#ve2818 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve137 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve185 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve2648 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2741 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve105 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve3117 .paragraph2 {
  text-align: center;
}
#ve2838 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve3117 .paragraph1 {
  text-align: center;
}
#ve2348 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2348 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2348 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve1795 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2836 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2881 .span3 {
  font-weight: bold;
}
#ve2881 .span4 {
  font-weight: bold;
}
#ve1795 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2881 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve1795 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2881 .span2 {
  font-weight: bold;
}
#ve1811 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve2881 .span7 {
  font-weight: bold;
}
#ve2881 .span8 {
  font-weight: bold;
}
#ve408 .ReportElementContainer {
  padding: 16px;
}
#ve1811 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve2881 .span5 {
  font-weight: bold;
}
#ve1811 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve2881 .span6 {
  font-weight: bold;
}
#ve1795 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve2958 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve211 .styleForTitle_span4 {
  font-size: 10pt;
}
#ve2881 .span9 {
  font-weight: bold;
}
#ve211 .styleForTitle_span3 {
  font-size: 10pt;
}
#ve211 .styleForTitle_span2 {
  font-size: 10pt;
}
#ve211 .styleForTitle_span1 {
  font-weight: bold;
}
#ve2186 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2186 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve3151 .span3 {
  font-size: 12pt;
  font-style: italic;
}
#ve3117 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve3151 .span2 {
  font-size: 12pt;
  font-style: italic;
}
#ve3151 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve1889 .paragraph2 {
  text-align: center;
}
#ve1889 .paragraph1 {
  text-align: center;
}
#ve3117 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2308 .paragraph2 {
  text-align: center;
}
#ve2308 .paragraph1 {
  text-align: center;
}
#ve2222 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2703 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2129 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2929 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2929 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2142 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2929 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2142 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2142 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2929 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve2757 .span12 {
  font-weight: bold;
  font-size: 10pt;
}
#ve2757 .span10 {
  font-weight: bold;
  font-size: 10pt;
}
#ve2757 .span11 {
  font-size: 10pt;
}
#ve2364 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2375 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve105 .styleForTitle_span3 {
  font-size: 10pt;
}
#ve2637 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve3155 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve105 .styleForTitle_span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve105 .styleForTitle_span1 {
  font-weight: bold;
}
#ve2964 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve1745 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve1745 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve1745 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2494 .paragraph1 {
  text-align: center;
}
#ve2494 .paragraph2 {
  text-align: center;
}
#ve161 .styleForTitle_span5 {
  font-size: 10pt;
}
#ve2686 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve161 .styleForTitle_span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve161 .styleForTitle_span1 {
  font-weight: bold;
}
#ve161 .styleForTitle_span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve161 .styleForTitle_span3 {
  font-size: 10pt;
}
#ve2401 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2401 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve1769 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2401 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve2401 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve911 .span1 {
  text-decoration: underline;
  font-size: 20pt;
}
#ve911 .span2 {
  text-decoration: underline;
}
#ve911 .span3 {
  text-decoration: underline;
}
#ve1190 .paragraph1 {
  text-align: center;
}
#ve2384 .paragraph2 {
  text-align: center;
}
#ve1190 .paragraph2 {
  text-align: center;
}
#ve2384 .paragraph1 {
  text-align: center;
}
#ve2228 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve1933 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2178 .span2 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
}
#ve2326 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve2054 .span8 {
  font-weight: bold;
}
#ve2054 .span7 {
  font-weight: bold;
}
#ve2054 .span9 {
  font-weight: bold;
}
#ve2178 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve1897 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve1897 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2054 .span4 {
  font-size: 10pt;
  font-style: italic;
}
#ve2054 .span3 {
  font-size: 10pt;
}
#ve2054 .span6 {
  font-weight: bold;
}
#ve2054 .span5 {
  font-size: 10pt;
}
#ve1805 .span1 {
  font-weight: bold;
  font-family: Anova;
}
#ve1819 .Container {
  background-color: #33A3FF;
  transparency: 0;
}
#ve2127 .ReportElementContainer {
  padding: 16px;
}
#ve2054 .span2 {
  font-size: 10pt;
  font-style: italic;
}
#ve2054 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2712 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2712 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2712 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2712 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve2566 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve3151 .ReportElementContainer {
  padding: 16px;
}
#ve2566 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2566 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve1190 .span4 {
  color: #FF8224;
  font-weight: bold;
}
#ve2805 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve1190 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2805 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve1190 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve492 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2805 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve1190 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2805 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve399 .Container {
  border-width: 1px;
  border-color: #2470AD;
}
#ve2654 .Container {
  border-width: 1px;
  border-color: #DDDFE4;
}
#ve2034 .ReportElementContainer {
  padding: 16px;
}
#ve2813 .paragraph2 {
  text-align: center;
}
#ve2813 .paragraph1 {
  text-align: center;
}
#ve2054 .span20 {
  font-weight: bold;
}
#ve2054 .span21 {
  font-weight: bold;
}
#ve2054 .span22 {
  font-weight: bold;
}
#ve203 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 10pt;
}
#ve1868 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2920 .paragraph1 {
  text-align: center;
}
#ve2920 .paragraph2 {
  text-align: center;
}
#ve203 .styleForTitle_span3 {
  font-weight: bold;
  font-size: 10pt;
}
#ve203 .styleForTitle_span2 {
  font-size: 10pt;
}
#ve2477 .paragraph2 {
  text-align: center;
}
#ve203 .styleForTitle_span5 {
  color: #FF8224;
  font-weight: bold;
  font-size: 10pt;
}
#ve2477 .paragraph1 {
  text-align: center;
}
#ve203 .styleForTitle_span4 {
  font-size: 10pt;
}
#ve203 .styleForTitle_span7 {
  font-size: 10pt;
}
#ve2195 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve203 .styleForTitle_span6 {
  font-weight: bold;
  font-size: 10pt;
}
#ve2195 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2195 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve203 .styleForTitle_span8 {
  color: #33a3ff;
  font-weight: bold;
  font-size: 10pt;
}
#ve2195 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve2255 .span3 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2255 .span2 {
  font-size: 10.5pt;
  font-family: Anova;
}
#ve2842 .Container {
  border-width: 1px;
  border-color: #2470AD;
}
#ve2892 .GraphDataStyle2 {
  fill-color: #FF8224;
}
#ve2255 .span1 {
  color: #4398F9;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2720 .paragraph1 {
  text-align: center;
}
#ve2720 .paragraph2 {
  text-align: center;
}
#ve2133 .Container {
  background-color: #E9ECEF;
  transparency: 0;
}
#ve2299 .span2 {
  color: #33A3FF;
  font-weight: bold;
}
#ve2299 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2703 .paragraph2 {
  text-align: center;
}
#ve2703 .paragraph1 {
  text-align: center;
}
#ve2009 .span2 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2009 .span1 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
  font-family: Anova;
}
#ve2009 .span4 {
  color: #FF8224;
  font-weight: bold;
  font-size: 12pt;
}
#ve2009 .span3 {
  background-color: #FFFFFF;
  color: #545B66;
  font-weight: bold;
  font-size: 12pt;
}
#ve1906 .paragraph2 {
  text-align: center;
}
#ve1906 .paragraph1 {
  text-align: center;
}

			